ion-content{
    --background: linear-gradient(to bottom left,#1f5f8b, #18aca0);
}

.texto {
    --background: none;
    color: white;
    margin-bottom: 5%;
}

ion-icon{
    font-size: 4.5em;
    color: white;
}

ion-button, ion-icon{
    margin: 4% 40%;
}

ion-grid {
    margin: 13% 0%;
}

 