
  ion-content {
    --background: url('/assets/fondo.jpg') no-repeat center center / cover;
  }
  
  .error {
    margin: 50% 16.5% 0% 15%;
    padding: 2%;
    text-align: center;
    color: #474747;
  }