ion-content {
    --background: url('/assets/fondo.jpg') no-repeat center center / cover;

}

.colors {
    background-color: #1891ac;
    margin: 2%;
    padding: 5% 1%;
    text-align: center;
    color: white;
    height: 100%;
    width: 100%;
}
