 
  /*Optional*/
  .bar-stable {
    background-color: #d9d9d9 !important;
  }
  .tabs{
    background-color: #d9d9d9 !important;
  }
  .icon-size-lg {
    font-size: 40px;
  }
  
  .timeline-thumb ion-icon {
      zoom: 1.5;
      margin-top: .3em;
  }
  .timeline-stats ion-icon {
      vertical-align: bottom;
      font-size: 1.3em;
  }
  /*Timeline*/
  
  ion-content{
    --background: linear-gradient(to bottom left,#1f5f8b, #18aca0);
  }
  
  .pos-absolute-right {
      position: absolute;
      right: 8px;
  }
  
  .timeline {
      position: relative;
      margin: 15px 0 0 0;
      color: white;
  }
  
  .timeline:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      width: 5px;
      background: white ;
      left: 44px;
      margin-left: -10px;
      z-index: 1;
  }
  
  .timeline .timeline-thumb {
      border-radius: 500px;
      width: 40px;
      z-index: 2;
      position: absolute;
      left: 16px;
  }
  
  .timeline .timeline-thumb.timeline-icon {
      height: 40px;
      text-align: center;
      color: white;
      border: 5px solid  #ff9700 ;
  }
  
  .timeline .timeline-thumb.timeline-icon i {
      font-size: 28px;
      margin: 6px 0;
      display: block;
  }
  
  .timeline .timeline-item {
      margin-left: 15%;
      border-bottom: 1px solid #ccc;
      padding-bottom: 8px;
  }
  
  .timeline .timeline-stats {
      position: relative;
      font-size: 12px;
      color: #7F8C8D;
  }
  
  
  .divider-title {
      background: #e4e4e4;
      padding: 5px 15px;
  }
  
  /* === Color Themes === */
  
  .color-orange {
      color:   #ffae39   !important;
  }
  
  .bg-color-orange {
      background-color:   #ffae39   !important;
  }
  
  .color-grey {
      color:   #d1d1d1    !important;
  }
  
  .bg-color-grey {
      background-color:    #d1d1d1    !important;
  }

  p {
      font-size: 12px;
  }